


    <div class="card" style="width: 20rem">
        <div class="card-body">
            <h3 class="card-title">Login</h5> 
            <form action="/login" method="POST">
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Staff ID</label>
                    <input type="text" name="staffID" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Staff ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Sign In</button>
            
            </form>
        </div>
    </div>
