<h1>
    This is {{firstName}} {{lastName}}'s page
    {{!-- Authentication token is:  {{token}} --}}
</h1>
   <div style="float: right" class="wrapper">
       <h5>LEAVE HISTORY</h5>
       <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">Duration(days)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Annual</td>
            <td>5/07/2019</td>
            <td>2</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            </tr>
        </tbody>
       </table>
   </div>
